@model ResultViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="form-group">
        <div class="col-md-4">
            <form method="get" asp-controller="Home" asp-action="FindBy">
                <input type="number" name="amount" />
                <button type="submit" class="btn btn-sm btn-primary">Fill and Find</button>
            </form>
        </div>
    </div>

    @if (Model.Change)
    {
        <div class="panel">
            <h1>Results</h1>
            <table class="table table-striped col-md-3">
                <thead>
                    <tr>
                        <td>Amount</td>
                        <td>JSON</td>
                        <td>JSONB</td>
                        <td>String</td>
                        <td>Entity</td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Results)
                    {
                        <tr>
                            <td class="col-md-1">@item.AmountElements</td>
                            <td calss="col-md-2">@item.JSONFind</td>
                            <td calss="col-md-1">@item.JSONBFind</td>
                            <td calss="col-md-1">@item.StringFind</td>
                            <td calss="col-md-1">@item.EntityFind</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
    else
    {
        <p>Value not loaded</p>
    }
</div>

<div id="loading">
    <div id="loadingcontent">
        <p id="loadingspinner">
            Searching things...
        </p>
    </div>
</div>